<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<!-- the order of the test-suites is important! -->
		<testsuite name="BootstrapTests">
			<file>./tests/Unit/TestRequisite.php</file>
		</testsuite>
		<testsuite name="LoaderTests">
			<directory prefix="Test" suffix=".php">./tests/Unit/</directory>
			<exclude>./tests/Unit/TestRequisite.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
