<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Requisite Unit Tests">
			<directory prefix="Test" suffix=".php">./tests/unit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
